/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
/*body, html {*/
/*height: 100%;*/
/*background-repeat: no-repeat;*/
/*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
/*}*/
html, body {
    height: 100%;
}

h1 {
    font-family: Arial, sans-serif font-size : 80 px;
    color: #ffffff;
}

.lead {
    /*color: #DDCCEE;*/
    color: #ffffff;
}
.foot {
    color: #ffffff;
}
a {
    color: darkslategray;
}

/* Custom container */
.container-fluid {
    /*margin: 0 auto;*/
    /*width: 100%;*/
    min-height: 100%;
    /*background-color: #110022;*/
    background-image: url("../images/bluebg.png");
    /*color: #eee;*/
    border-image-repeat: repeat;
    /*overflow: hidden;*/
}

/*.container-full a {*/
    /*color: #efefef;*/
    /*text-decoration: none;*/
/*}*/

.v-center {
    margin-top: 7%;
}

