<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap.min.css") }}">
    <link href="{{ url_for('static',filename='css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/custom.css") }}">
    <script src="{{ url_for("static",filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static',filename='js/fileinput.js') }}"></script>
    <script src="{{ url_for('static',filename='js/fileinput_locale_zh.js') }}"></script>
    <title>{% block title %}{% endblock %} - 太平洋製罐</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="header">
        <h1>常用工具集</h1>
    </div>
</div>
<hr>
    {% block body %}
    {% endblock %}
    <div class="row">
        <div class="text-center">
            Powered by <a href="mailto:tw@pacificcan.com.cn">Tony Wong</a>
        </div>
    </div>
</div>
</body>
</html>