<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/getfiles.css") }}">
    <script src="{{ url_for("static",filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
    {#    <script src="{{ url_for("static",filename="js/getfiles.js") }}"></script>#}
    <title>取出文件 - 太平洋製罐</title>
</head>
<body>
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12 text-center v-center">

            <h1>文件中转站</h1>

            <p class="lead">太平洋制罐（肇庆）有限公司</p>

            <br><br><br>

            <form class="col-lg-12">
                <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
                    <input id="passcode" class="form-control input-lg" title="passcode" placeholder="请输入提取码" type="text"
                           autofocus>
                    <span class="input-group-btn"><button class="btn btn-lg btn-success" type="button">提取
                    </button></span>
                </div>
                {% if expired or notfound %}
                    <div class="notification_widget" style="width:340px;text-align:center;margin:0 auto;">
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            {% if expired %}
                                <span class="glyphicon glyphicon-time"></span> <strong>文件已过期</strong>
                            {% else %}
                                <strong>找不到你要的文件</strong>
                            {% endif %}
                            {#                        <hr class="message-inner-separator">#}
                            {#                        <p>#}
                            {#                            Change a few things up and try submitting again.</p>#}
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>

    </div>
    <!-- /row -->

    <br>
    <br>
    <br>
    <br>

    <div class="footer">

        {#        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">#}
        {#            <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>#}
        {#        </div>#}
        <div class="text-center">
            <p class="foot">Powered by <a href="mailto:tw@pacificcan.com.cn">Tony Wong</a></p>
        </div>

    </div>


</div>
<script>
    $(function () {
        $("button").click(function () {
            var passcode = $("#passcode").val();
            if (passcode !== '') {
                location.href = "{{ url_for('.tr_download') }}/" + passcode
            }
        });
        $("input").keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("button").click();
                return false;
            }
        })
    })
</script>
<!-- /container full --></body>
</html>
