{% extends "base.html" %}
{% block title %}图片工具{% endblock %}
{% block body %}
    <div class="row">
        {% include "slide-menu.html" %}
        <div class="col-md-9 well">
            <div>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>图片上传</strong>
                        {#                        <small>Bootstrap files upload</small>#}
                    </div>
                    <div class="panel-body">
                        <input id="image-input" name="images" type="file" accept="image/*" multiple
                               class="file-loading">
                        {##}
                        {#                        <!-- Standar Form -->#}
                        {#                        <h4>请选择电脑中的图片</h4>#}
                        {##}
                        {#                        <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">#}
                        {#                            <div class="form-inline">#}
                        {#                                <div class="form-group">#}
                        {#                                    <input type="file" id="js-upload-files" multiple accept="image/*" name="images">#}
                        {#                                </div>#}
                        {#                                <input type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" value="上传">#}
                        {#                            </div>#}
                        {#                        </form>#}
                        {##}
                        <hr>
                        {##}
                        {##}
                        {#                        <!-- Upload Finished -->#}
                        {#                        <div class="js-upload-finished">#}
                        {#                            <h3>已上传了<strong id="qty-of-uploaded-files">0</strong>个文件.</h3>#}
                        {##}
                        {#                            <div class="list-group-uploaded">#}
                        {#                            </div>#}
                        {##}
                        <h3 id="processed-title">已处理的文件：</h3>

                        <div class="list-group">
                        </div>
                    </div>
                    {#                    </div>#}
                </div>
                <hr>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="functions">
                    <li role="presentation" class="active"><a href="#scale" aria-controls="scale" role="tab"
                                                              data-toggle="tab">缩放图片</a></li>
                    <li role="presentation"><a href="#rotate" aria-controls="rotate" role="tab"
                                               data-toggle="tab">旋转图片</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="scale">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="scale" id="option-percentage"
                                               value="0"
                                               checked>

                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">缩放至原图的:</div>
                                                    <input type="number" class="form-control" id="scale-percentage"
                                                           placeholder="Amount">

                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                        </form>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="scale" id="option-cut" value="0">

                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">长边设为:</div>
                                                    <input type="number" class="form-control" id="scale-cut"
                                                           placeholder="Amount">

                                                    <div class="input-group-addon">像素</div>
                                                </div>
                                            </div>
                                        </form>
                                    </label>
                                </div>
                                {#                                <div class="radio">#}
                                {#                                    <label>#}
                                {#                                        <input type="radio" name="scale" id="option-size"#}
                                {#                                               value="0">#}
                                {##}
                                {#                                        <form class="form-inline">#}
                                {#                                            <div class="form-group">#}
                                {#                                                <div class="input-group">#}
                                {#                                                    <div class="input-group-addon">图片容量设为:</div>#}
                                {#                                                    <input type="number" class="form-control" id="scale-size"#}
                                {#                                                           placeholder="Amount">#}
                                {##}
                                {#                                                    <div class="input-group-addon">KiB</div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </form>#}
                                {#                                    </label>#}
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                <button class="btn btn-success" id="execute" style="display: block; width: 100%;">执行</button>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="rotate">
                        <h2>
                            顺时针旋转
                        </h2>

                        <div class="row form-group product-chooser">

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="product-chooser-item selected">
                                    <img src="{{ url_for('static',filename='images/file.png') }}"
                                         class="rotate-90 img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12"
                                         alt="rotate 90 degrees">

                                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                        <span class="title">90度</span>
                                        <span class="description">顺时针旋转90度</span>
                                        <input type="radio" name="rotate-option" value="90">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="product-chooser-item">
                                    <img src="{{ url_for('static',filename='images/file.png') }}"
                                         class="rotate-180 img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12"
                                         alt="rotate 180 degrees">

                                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                        <span class="title">180度</span>
                                        <span class="description">顺时针旋转180度</span>
                                        <input type="radio" name="rotate-option" value="180">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="product-chooser-item">
                                    <img src="{{ url_for('static',filename='images/file.png') }}"
                                         class="rotate-270 img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12"
                                         alt="rotate 270 degrees">

                                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                        <span class="title">270度</span>
                                        <span class="description">顺时针旋转270度</span>
                                        <input type="radio" name="rotate-option" value="270">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            'use strict';
            $("#menu-image").addClass("active");
            $("#functions a").click(function (e) {
                e.preventDefault();
                $(this).tab('show')
            });
            $('div.product-chooser').not('.disabled').find('div.product-chooser-item').on('click', function () {
                var select_radio = $(this).find('input[type="radio"]');
                $(this).parent().parent().find('div.product-chooser-item').removeClass('selected');
                $(this).addClass('selected');
                select_radio.prop("checked", true);
                var selected_radio = $("input[name=rotate-option]:checked");
                $.ajax({
                    url: "{{ url_for('.image_tools') }}",
                    data: {cmd: "rotate", val: selected_radio.val()},
                    type: "POST",
                    success: function (data) {
                        $("#processed-title").show();
                        $(".list-group").empty();
                        $.each(data.files, function (index, value) {
                            var processed_file = '<a href="' + value + '" class="list-group-item list-group-item-success" target="_blank"><img src="' + value + '" alt="' + value.replace(/^.*\/|\.[^.]*$/g, '') + '" style="min-height:80px;height:80px;" /> ' + value.replace(/^.*\/|\.[^.]*$/g, '') + '</a>';
                            $(".list-group").append(processed_file)
                        })
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Handle errors here
                        console.log('ERRORS: ' + jqXHR);
                        // STOP LOADING SPINNER
                    }
                });

            });
            $("#image-input").fileinput({
                language: "zh",
                uploadUrl: "{{ url_for('.upload') }}",
                uploadAsync: true,
                minFileCount: 1,
                {#                maxFileCount: 1,#}
                {#                uploadExtraData: {group_index: "{{ group_index }}"}#}
            });

            {#            var uploadForm = document.getElementById('js-upload-form');#}
            {##}
            {#            var startUpload = function (files) {#}
            {#                var payload = new FormData();#}
            {#                $.each(files, function (index, value) {#}
            {#                    payload.append("images", value)#}
            {#                });#}
            {#                $("#qty-of-uploaded-files").html(0);#}
            {#                $.ajax({#}
            {#                    url: "{{ url_for('.upload') }}",#}
            {#                    data: payload,#}
            {#                    type: "POST",#}
            {#                    cache: false,#}
            {#                    dataType: 'json',#}
            {#                    processData: false,#}
            {#                    contentType: false,#}
            {#                    success: function (data) {#}
            {#                        $("#qty-of-uploaded-files").empty().html(data.file.length);#}
            {#                        $(".list-group").empty();#}
            {#                        $.each(data.file, function (index, value) {#}
            {#                            console.log(value.url);#}
            {#                            var processed_file = '<div class="list-group-item list-group-item-success"><img src="' + value.url + '" style="min-height:80px;height:80px;" /> <span class="badge alert-success pull-right">成功</span>' + value.filename + '</div>';#}
            {#                            $('.list-group-uploaded').append(processed_file);#}
            {#                        });#}
            {#                    },#}
            {#                    error: function (jqXHR, textStatus, errorThrown) {#}
            {#                        // Handle errors here#}
            {#                        console.log('ERRORS: ' + jqXHR);#}
            {#                        // STOP LOADING SPINNER#}
            {#                    }#}
            {#                })#}
            {#            };#}

            {#            uploadForm.addEventListener('submit', function (e) {#}
            {#                var uploadFiles = document.getElementById('js-upload-files').files;#}
            {#                e.preventDefault();#}
            {##}
            {#                startUpload(uploadFiles)#}
            {#            });#}
            $(".form-control").change(function () {
                var preRadio = $(this).parent().parent().parent().parent().children('input');
                preRadio.prop("checked", true);
                preRadio.val($(this).val());
            });
            $("#processed-title").hide();
            $("#execute").click(function () {
                var selected_radio = $("input[name=scale]:checked");
                $.ajax({
                    url: "{{ url_for('.image_tools') }}",
                    data: {cmd: selected_radio.attr('id'), val: selected_radio.val()},
                    type: "POST",
                    success: function (data) {
                        $("#processed-title").show();
                        $(".list-group").empty();
                        $.each(data.files, function (index, value) {
                            //var processed_file = '<a href="' + value + '" class="list-group-item list-group-item-success" target="_blank"><span class="badge alert-success pull-right">Sucess</span>' + value.replace(/^.*\/|\.[^.]*$/g, '') + '</a>';
                            var processed_file = '<a href="' + value + '" class="list-group-item list-group-item-success" target="_blank"><img src="' + value + '" alt="' + value.replace(/^.*\/|\.[^.]*$/g, '') + '" style="min-height:50px;height:50px;" /> ' + value.replace(/^.*\/|\.[^.]*$/g, '') + '</a>';
                            $(".list-group").append(processed_file)
                        })
                    },
                })
            })

        })
    </script>
{% endblock %}