{% extends "base.html" %}
{% block title %}文档{% endblock %}
{% block body %}
    <div class="row">
        {% include "slide-menu.html" %}
        <div class="col-md-9 well">
            <h3 class="text-center">网站建于公司内部服务器,<strong>所有资料绝不会外泄</strong></h3>
        </div>
    </div>
    <script>
$(function () {
    $("#menu-home").addClass("active")
})
    </script>
{% endblock %}