    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li id="menu-home"><a href="/"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li id="menu-image"><a href="{{ url_for(".image_tools") }}"><i class="fa fa-list-alt fa-fw"></i>图片工具</a></li>
            <li id="menu-pdf"><a href="{{ url_for(".pdf_tools") }}"><i class="fa fa-file-o fa-fw"></i>PDF工具</a></li>
            <li id="menu-transport"><a href="{{ url_for(".transport") }}"><i class="fa fa-file-o fa-fw"></i>文件中转</a></li>
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-bar-chart-o fa-fw"></i>Charts</a></li>#}
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-table fa-fw"></i>Table</a></li>#}
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-tasks fa-fw"></i>Forms</a></li>#}
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>#}
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-book fa-fw"></i>Library</a></li>#}
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>#}
{#            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>#}
        </ul>
    </div>
