{% extends "base.html" %}
{% block title %}文件中转{% endblock %}
{% block body %}
    <div class="row">
        {% include "slide-menu.html" %}
        <div class="col-md-9 well">
            <input id="input-703" name="transport-files" type="file" class="file-loading">
            <hr>
            <button class="btn btn-success" style="display: block; width: 100%;" id="repop">查看下载地址</button>
        </div>
{#        <div class="col-md-2">#}
{#        </div>#}
    </div>
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1><i class="glyphicon glyphicon-thumbs-up"></i>上传成功！</h1>
                </div>
                <div class="modal-body">
                    <h4>复制以下网址，通过邮件传给他人即可。</h4><br>

                    <p class="text-center well" id="group-index-outside"></p>
                    <hr>
                    <h4>厂内下载请访问以下网址：</h4><br>

                    <p class="text-center well" id="group-index-inside"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $(function () {
            'use strict';
            $('#repop').hide()
                    .click(function () {
                        $(".modal").modal("toggle");
                    });
            $("#menu-transport").addClass("active");
            $("#input-703").fileinput({
                language: "zh",
{#                previewFileType: "image",#}
{#                initialPreviewShowDelete: false,#}
                allowedPreviewTypes:["image","video"],
{#                showPreview: false,#}
{#                showCaption: false,#}
{#                showUpload: false,#}
                maxFileSize:512000,
                uploadUrl: "{{ url_for('.tr_upload') }}",
                uploadAsync: true,
                minFileCount: 1,
                maxFileCount: 1,
                {#                uploadExtraData: {group_index: "{{ group_index }}"}#}
            })
                    .on("fileuploaded", function (event, data, previewId, index, jqXHR) {
                        console.log('uploaded');
                        $(this).fileinput('reset');
                        var res = data.response,
                                transport_link = "{{ url_for('.tr_download')}}/" + res.status,
                                transport_link_outside = window.location.protocol+'//'+window.location.hostname+transport_link
                        {#                        console.log(res);#}
                        $("#group-index-outside").empty().html("http://2030759097:81" + transport_link);
                        $("#group-index-inside").empty().html('<a href="' + transport_link + '" target="_blank">' + transport_link_outside + '</a>');
                        $(".modal").modal("toggle");
                        $('#repop').show()
                    });

        });
    </script>
{% endblock %}
